# Python
__pycache__/
*.py[codz]
*$py.class
*.so

# Environments
.env
.envrc
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# UV
# uv.lock

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# VS Code
# .vscode/

# Ruff
.ruff_cache/

# Streamlit
.streamlit/secrets.toml

# Temporary files
tempCodeRunnerFile.py

# Hide passwords
**/.dlt

setup_user_09.sql


target/
dbt_packages/
logs/
.env
macros/
tests/
